$def with (content)
<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
	<!-- jQuery -->
        <script src="/static/js/jquery-1.12.0.min.js"></script>
	<script src="/static/js/jquery-ui.min.js"></script>
$if content.jsfiles:
	$for f in content.jsfiles.split():
		<script type="text/javascript" src="static/script/$f"></script>
	<title> $title</title>
</head>
  <body>
	<!-- All Pages Have Top Bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">piToolBox</a>
        </div>
		<ul class="nav navbar-nav">
			$if status:
				<li><a href="#">Scanner is off</a></li>
			$else:
				<li><a href="#">Scanner is Running</a></li>
		<li><a href="/wifi">pyWiFi Module</a></li>
		</ul>
		</div><!--/.nav-collapse -->
    </nav>

    <div class="container">
	<!-- Page Content Here --> 
$:content
    </div><!-- /.container -->
  </body>
</html>
