$def with (name)
$var jsfiles: monitor.js

<link rel="stylesheet" type="text/css" href="/static/css/csstable.css">
   <div class="container-fluid">
	<table class='table'>
		   <tr class='success'><td>Wifi Network: $name.name</td></tr>
		   <tr class='info'><td>MAC $name.essid</td></tr>
		   <tr class='info'><td>Channel $name.channel</td></tr>
		   <tr><td><button id='btnDetails' class='btn bton-primary'>Show Clients </button></td></tr>
	</table>
	<div id='loading'>
	</div>
	<table class='table' id='tbl_details'>
	</table>
	<input id='netName' type='hidden' value=$name.name />
	<input id='netChannel' type='hidden' value=$name.channel />
	<input id='netEssid' type='hidden' value=$name.essid />
	
    </div><!-- /.container -->
  

